gradle-wrapper.jar
/.gradle
/gradlew
/gradlew.bat

# Gradle
.gradle/
/local.properties
/captures/
.cxx/

# Keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart
.dart_tool/
.packages
build/

# IDE
.idea/
.vscode/

# Generated
GeneratedPluginRegistrant.java